.about-container{
    margin: 5% 0;
    display: flex;
    gap: 2.5rem;
    align-items:center ;
}
.about-container img{
    height: 50vh;
}
.about-container p br{
    padding-bottom: 50px;
}

@media screen and (max-width:1000px)
{
    .about-container{
        flex-direction: column;
        align-items: center;
       
    }
    .about-container img{
        width: 70%;
    }
}