.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: white;
    color:  black;
    border-radius: 8px 0 0 8px;
    
}
.nav-pills :hover {
    color: gray;
}
.user_profile-container{
    color: black;
    background-color: var(--darkgray);
    width: 25%;
    padding: 1.8rem 0 50vh 1rem ;
    margin-right: 3vw;
}

.nav-link_user_profile{
    color: whitesmoke;
    font-size: 18px;
    text-align: end;
    margin-bottom: 2vh;
}