.groupHomeCards-container{
    background-color: var(--red);
    padding: 33px 0;
    display: flex;
    justify-content: center;
    
}
.groupHomeCards-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr auto);
    grid-gap: 26px;
    margin-right: -26px;
}
@media screen and (max-width:1284px){
    .groupHomeCards-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr auto);
        grid-gap: 20px;
        margin-right: -20px;
    }
}
@media screen and (max-width:990px){
    .groupHomeCards-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr auto);
        grid-gap: 20px;
        margin-right: -20px;
    }
}