.costInfo-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 55px 30px;
    box-shadow: 0px 12px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.costInfo-cards-container{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
a.btn.btn-danger.costInfo-btn.red-btn{
    background-color: var(--red);
    font-size: 20px;
    border-radius: 14px;
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 0.6vh 1vw;
}