
.header-container{
    background-color: var(--header-bg);
    padding: 0;
}
.header-button.aligh-center{
    background-color:var(--darkblue);
    border-radius: 14px;
    padding: 4px 22px;
    font-size: 24px;
}
.header-menu{
    font-size: 32px;
    color: black;
    justify-content: space-around;
}
.dropdown-menu.show.dropdown-menu-light {
    font-size: 18px;
    --bs-dropdown-divider-bg: var(--header-bg);
}
a.header-dropdown-item:hover {
    color: var(--header-bg);
    background-color: var(--darkgray);
    transition: background-color 0.4s ease-out;
}
