.footer-container{
    display: flex;
    align-items: center;
    padding: 20px 65px;
    justify-content: space-between;
    background-color: var(--header-bg);
    font-size: 18px;
}
.footer_work-time-title{
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 13px;
}
.footer-socials{
    display: flex;
    gap: 33px;
    justify-content: end;
    margin-bottom: 19px;
}
.footer-socials img{
    width: 42px;
}
.footer_socials-p,
.footer_socials-p a
{
    margin:0;
    color: #383838;
}
